<div class="page-width">
  <div class="grid">
    <div class="grid__item medium-up--five-sixths medium-up--push-one-twelfth">
      <div class="section-header text-center">
      </div>
      <style>
        header{display:none!important}
        footer{display:none!important}
      </style>	
      <div class="rte">
    <%# ▼▼▼ここからページ内のHTMLを記載▼▼▼ %>
    <div class="para30__header">
        <p class="para30__subttl"><span>tui × paradise</span></p>

    </div>
    <main class="main-content js-focus-hidden" id="MainContent" role="main" tabindex="-1">
            <div class="page-width">
            <div class="grid">
                <div class="grid__item medium-up--five-sixths medium-up--push-one-twelfth">
                    <div class="section-header text-center">
                    </div>
                    <style>
                        header {
                            display: none !important
                        }

                        footer {
                            display: none !important
                        }
                    </style>
                    
                    <div class="para30__main">
                        <p class="para30__main--ttl"><span>2022/7/10 - 8/31限定 30％＆送料無料</span></p>
                        <p class="para30__main--list">保湿美容に特化したtuiの導入オイル＆＆美容保湿セラム</p>
                        <ul class="para30__main--product">
                            <li>
                                <img src="https://cdn.shopify.com/s/files/1/0605/4281/2419/files/para30_img01.png" alt="BOOSTER OIL" width="100%">
                                <a href="https://tuituitui-beauty.myshopify.com/cart/42988719046915:1?channel=buy_button" class="para30__main--cart"><span><span>特別価格で</span>購入する</span></a>
                                <p class="para30__main--pricebox"><img src="https://cdn.shopify.com/s/files/1/0605/4281/2419/files/para30_price01.svg" alt="4,186円" class="para30__main--price"></p>
                            </li>
                            <li>
                                <img src="https://cdn.shopify.com/s/files/1/0605/4281/2419/files/para30_img02.png" alt="MOISTURE SERAM" width="100%">
                                <a href="https://tuituitui-beauty.myshopify.com/cart/42988743131395:1?channel=buy_button" class="para30__main--cart"><span><span>特別価格で</span>購入する</span></a>
                                <p class="para30__main--pricebox"><img src="https://cdn.shopify.com/s/files/1/0605/4281/2419/files/para30_price02.svg" alt="3,486円" class="para30__main--price"></p>

                            </li>
                            <li>
                                <img src="https://cdn.shopify.com/s/files/1/0605/4281/2419/files/para30_img03.png" alt="SET PACKAGE" width="100%">
                                <a href="https://tuituitui-beauty.myshopify.com/cart/42988734775555:1?channel=buy_button" class="para30__main--cart"><span><span>特別価格で</span>購入する</span></a>
                                <p class="para30__main--pricebox"><img src="https://cdn.shopify.com/s/files/1/0605/4281/2419/files/para30_price03.svg" alt="7,000円" class="para30__main--price"></p>

                            </li>
                        </ul>
                        <div class="para30__main--box">
                        <p class="para30__main--notice">※特別料金＆送料無料でのご提供は、上記購入ボタンからのご購入に限らせていただきます。</p>
                        <p class="para30__main--notice">※決済画面にて、割引後の値段をご確認いただけます。</p>
                        <p class="para30__main--notice">※お一人様1回限りのキャンペーンとさせていただきます。</p>
                    </div>
                    </div>

                    <div class="para30__footer">
                        <div class="para30__footer--inner">
                        <div class="para30__footer--links">
                            <a href="https://tui-beauty.com/pages/sctl">特定商取引法に基づく表記</a>
                            <a href="https://tui-beauty.com/pages/company">会社概要</a>
                            
                            <a href="https://tui-beauty.com/pages/rule">利用規約</a>
                            <a href="https://tui-beauty.com/pages/privacy-  policy">プライバシーポリシー</a>
                        </div>
                        <small class="para30__footer--copy">＠tui beauty</small>
                    </div>
                    </div>
                </div>
            </div>
        </div>
        
    </main>
    <%# ▲▲▲ここまでページ内のHTMLを記載▲▲▲ %>
      </div>
    </div>
  </div>
</div>
